# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# PyTorch
*.pt
*.pth

# Checkpoints
checkpoints/
runs/
logs/

# Data
data/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Gradio temp
gradio_cached_examples/